*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings
/bytejta-core/.classpath
/bytejta-core/.project
/bytejta-core/.gitignore
/bytejta-supports/.classpath
/bytejta-supports/.gitignore
/bytejta-supports/.project
target
/bytejta-supports-dubbo/.classpath
/bytejta-supports-dubbo/.project
/bytejta-supports-springcloud/.classpath
/bytejta-supports-springcloud/.project
